@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.input-group {
  @apply flex flex-col space-y-2 my-6;
}

.input-field {
  @apply p-2 border-none outline-none ring ring-gray-600/90 rounded-md bg-gray-800 overflow-hidden focus:outline-none focus:border-none focus:ring-2 focus:ring-indigo-500 text-white transition-all;
}

.btn {
  @apply py-2 px-4  border-none outline-none rounded-md my-4 font-bold block transform active:scale-95 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:shadow-none disabled:scale-100;
}

.btn-primary {
  @apply bg-white text-black transition-all hover:shadow-md hover:shadow-white/80;
}

.btn-secondary {
  @apply bg-black text-white font-medium transition-all ring-gray-500/40 ring-2 hover:ring-gray-500 hover:ring-4;
}
